<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="com.azdownloader" >
	
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
		
	<uses-sdk
		android:minSdkVersion="16"
		android:targetSdkVersion="21"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_main_download"
        android:label="@string/app_name">
        <!--<activity
            android:name=".TestActivity"
            android:label="GigaTest"
			android:theme="@android:style/Theme.Holo.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
		
		<activity
			android:name="com.azdownloader.ui.main.MainActivity"
			android:label="@string/app_name"
			android:theme="@style/Theme_App_Blue"
			android:launchMode="singleTask">
			<intent-filter tools:ignore="GoogleAppIndexingUrlError">
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.BROWSABLE" />
			</intent-filter>
			<intent-filter>
				<action android:name="com.azdownloader.intent.DOWNLOAD"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data

					android:mimeType="application/*"
					android:host="*"
					android:scheme="http"/>
				<data
					android:mimeType="application/*"
					android:host="*"
					android:scheme="https"/>
			</intent-filter>
			<intent-filter>
				<data android:scheme="https"/>
				<data android:scheme="http"/>
				<data android:host="google.com"/>
				<data android:host="www.google.com"/>
				<data android:host="r2---sn-p5qlsn6z.googlevideo.com"/>
				<data android:host="*.googlevideo.com"/>
				<data android:host="*.*"/>
				<data android:scheme="customscheme"/>
				<data android:host="customHost"/>

				<data android:pathPattern=".*"/>

				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
			</intent-filter>


		</activity>
		
		<activity
			android:name="com.azdownloader.ui.main.DetailActivity"
			android:label="@string/app_name"
			android:theme="@style/Theme_App_Blue">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
			
		</activity>
		
		<activity
			android:name="com.azdownloader.ui.web.BrowserActivity"
			android:label="@string/browser"
			android:theme="@style/Theme_App_Blue">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>

		</activity>
		
		<activity-alias
			android:name=".ui.web.BrowserActivity-share"
			android:label="@string/open_with_gigaget"
			android:targetActivity="com.azdownloader.ui.web.BrowserActivity">
			
			<intent-filter>
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/*"/>
			</intent-filter>
			
		</activity-alias>
		<!--<data android:mimeType="text/*"/>-->

		
		<activity
			android:name="com.azdownloader.ui.settings.SettingsActivity"
			android:label="@string/settings"
			android:theme="@style/Theme_App_Blue">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>



		</activity>

		<activity
			android:name="com.azdownloader.ui.main.AudioChangeActivity"
			android:label="@string/settings"
			android:theme="@style/Theme_App_Blue">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>



		</activity>


		
		<activity
			android:name="com.nononsenseapps.filepicker.FilePickerActivity"
			android:label="@string/app_name"
			android:theme="@style/Theme_App_Blue">

			
		</activity>



	<!--	<activity
			android:name="com.example.android.GizmosActivity"
			android:label="@string/title_gizmos" >
			<intent-filter android:label="@string/filter_title_viewgizmos">
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				&lt;!&ndash; Accepts URIs that begin with "http://www.example.com/gizmos” &ndash;&gt;
				<data android:scheme="http"
					android:host="www.example.com"
					android:pathPrefix="/gizmos" />
				&lt;!&ndash; note that the leading "/" is required for pathPrefix&ndash;&gt;
				&lt;!&ndash; Accepts URIs that begin with "example://gizmos” &ndash;&gt;
				<data android:scheme="example"
					android:host="gizmos" />

			</intent-filter>
		</activity>-->
		
		<service
			android:name="com.azdownloader.service.DownloadManagerService"/>

    </application>

</manifest>
